/*--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*-- reset code --*/
body{
	padding:0;
	margin:0;
	background:#FFF;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	color: black;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
	padding:0;
	font-family: 'Montserrat', sans-serif;
}	
p{
	margin:0;
	padding:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
button{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
img {
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
/*-- /reset code --*/

body {
	font-family: 'Open Sans', sans-serif;
}

/*-- navigation effects --*/
.navbar-header {
	width: 100%;
	float: left;
}
#navbar {
	float: right;
}
.navbar {
	min-height:80px;
	background-color: #FFF;
	border: none;
	font-family: 'Montserrat', sans-serif;
}
.navbar-brand img{
    float: left;
    height: 30px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: white;
    font-weight: bolder;
    font-size: 14px;
    color: #B50727;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #B50727;
}
.navbar-default .navbar-nav>li>a {
    color: #EA3858;
	font-size:14px;
	font-weight:normal;
	padding:18px 18px;
	transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
}
.navbar-default .navbar-nav>li.active {
	text-transform: uppercase;
}
.dropdown-menu {
	text-align:center;
	background-color: white;
	border: none;
	border-radius: 0px;
	box-shadow: none;
}
.dropdown-menu li {
	list-style-type: none;
	border: none;
	border-radius: 0px;
	padding: 10px;
}
.dropdown-menu li a {
	display: block;
	text-decoration: none;
	color: #EA3858;
}
.dropdown-menu li a:hover {
	color: #B50727;
}
.dropdown-menu li ul li {
	margin: auto;
}
/*-- /navigation effects --*/

/*----experiences page-----*/
.post {
	margin: 30px 80px 60px;
}
.title1{
	margin-bottom:10px;	
}
.blog {
	text-align: justify;
}
.author{
	float: right;
	color:#d40006;
}
/*----experiences page-----*/

/*--banner--*/
section.banner-w3ls {
	margin-top: 80px;
}
.header {
	padding: 60px 0 30px;
}
.banner-form, .plan-now {
	background-color: rgba(226,91,113,0.75);
	padding: 15px 15px;
	border-radius: 3px;
	margin-bottom: 20px;
}
.booking-head h3, .plan-now h3 {
	font-size: 30px;
	color: #FFF;
	margin: 10px 0;
	z-index: 1001;
}
.form-group label {
	margin: 10px 0 10px 5px;
	font-family: "Montserrat" Sans-Serif;
	font-size: 14px;
	color: #FFF;
}
.date {
	display: inline-block;
	margin-right: 20px;
}
.ppl {
	display: inline-block;
	margin-right: 20px;
}
.form-submit {
	margin-top: 20px;
	float: right;
}
.form-group button.btn-outline {
    border: solid 2px #fff;
    font-size: 14px;
    padding: 6px 8px;
    color: #fff;
    background: 0 0;
    margin: 10px auto 0;
	font-family: 'Montserrat', sans-serif;
    transition: all .3s ease-in-out;
}
.form-group button.btn-outline:hover, 
.form-group button.btn-outline:focus, 
.form-group button.btn-outline:active {
    border: solid 2px #fff;
    color: #EA3858;
    background: #fff;
}
.plan-main h4{
	font-size: 20px;
	padding: 30px 0;
	color: #FFF;
}
/*--banner--*/

/*--bgfader--*/
.bgfader{
	position: absolute;
	z-index: -2;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	display: none;
}
.bgfader-overlay{
	z-index: -1;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.bgfader > .image{
	display: inherit;
}
.bgfader, .bgfader > .image{
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size:100% 100%;
	background-size:100% 100%;
	-moz-background-size:100% 100%;
	-o-background-size:100% 100%;
	-ms-background-size:100% 100%;
	background-attachment:fixed;
}
/*--bgfader--*/

/*--section style--*/
section.special-w3layouts {
	padding:30px 0;
	background-color: #FFF;
}
section.info-w3ls,
section.info-w3ls2,
section.banner-w3ls2,
section.info-w3ls3,
section.blog {
	padding:30px 0;
}
section.inner-w3ls {
	padding-top: 100px;
}
/*--section style--*/

/*--header title style--*/
section.info-w3ls h3.text-center,
section.info-w3ls2 h3.text-center,
section.special-w3layouts h3.text-center,
section.banner-w3ls2 h3.text-center,
section.info-w3ls3 h3.text-center,
section.transit-w3ls h3.text-center,
section.blog h3.blogtitle {
	font-size:40px;
	padding:20px 0;
	position:relative;
}
section.special-w3layouts h3.text-center,
section.banner-w3ls3 h3.text-center,
section.inner-w3ls h3.text-center {
    color: #fff;
}
section.banner-w3ls2 h3.text-center,
section.info-w3ls3 h3.text-center {
	color:#e25b71;
}
section.inner-w3ls h3.text-center {
	font-size:60px;
	padding:20px 0;
	position:relative;
}
section.special-w3layouts i.fa,
section.inner-w3ls i.fa,
section.info-w3ls3 i.fa {
	font-size:27px;
	font-weight:thin;
	width:70px;
	height:70px;
	text-align:center;
	line-height:70px;
	color:#e25b71;
	margin:0 auto;
	display:block;
	background-color:#fff;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
}
/*--header title style--*/

/*-- specialization section --*/


/*-- /specialization section --*/

/*-- 1st info section --*/
section.info-w3ls i.fa,
section.info-w3ls2 i.fa,
section.banner-w3ls2 i.fa,
section.transit-w3ls i.fa 
{
	font-size:27px;
	font-weight:thin;
	width:70px;
	height:70px;
	text-align:center;
	line-height:70px;
	color:#fff;
	margin:0 auto;
	display:block;
	background-color:#e25b71;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
}
section.inner-w3ls i.fa {
	font-size:27px;
	font-weight:thin;
	width:70px;
	height:70px;
	text-align:center;
	line-height:70px;
	color:#e25b71;
	margin:0 auto;
	display:block;
	background-color:#fff;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
}
section.info-w3ls p.text-center,
section.info-w3ls2 p.text-center,
section.blog p.blogtext {
	font-size:17px;
	font-weight:normal;
	color:#000;
	line-height:30px;
	font-family: 'Open Sans', sans-serif;
}
/*-- /1st info section --*/

/*-- 2nd banner section --*/
section.banner-w3ls2 {
	background:url(../images/banner2.jpg);
	background-position:center;
	background-attachment:fixed;
	background-repeat:no repeat;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:350px;
	background-color: rgba(255,255,255,0.3);
}
section.banner-w3ls2 p {
	 color: white;
	 font-size: 15px;
	 font-weight: 300;
	 font-family: 'Open Sans', sans-serif;
	 background-color: rgba(244,42,72,0.4);
	 padding: 5px 15px;
}
/*-- /2nd banner section --*/

/*-- 2nd info section --*/
.promo {
	border: 2px solid #a40004;
	position:relative;
}
.promo-main {
	margin: 15px;
}
.promo-main h4 {
	font-weight: 700;
	margin-bottom: 20px;
	font-size: 20px;
}
.promo-main p {
	line-height: 25px;
	font-family: 'Open Sans', sans-serif;
}
.price {
	margin-top: 10px;
	font-weight: 700;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif !important;
}
.promo-main button.btn-outline {
    margin-top: 20px;
    border: solid 2px #f30006;
    font-size: 15px;
    padding: 5px 10px;
    color: #f30006;
    background: 0 0;
    transition: all .3s ease-in-out;
}
.promo-main button.btn-outline:hover,
.promo-main button.btn-outline:focus,
.promo-main button.btn-outline:active {
    border: solid 2px #d40006;
    color: #d40006;
    background: #fff;
}
#map {
	width: 99%;
	margin: 20px auto;
}
ul.placelist li {
	list-style-type: none;
	padding-left: 30px;
	line-height: 30px;
}
li.phead {
	font-size: 22px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	padding-left: 0px !important;
}
section.info-w3ls2 .placeinfo {
	border: 1px solid #d40004;
	margin: 30px 0;
}
section.info-w3ls2 .placeinfo-main {
	margin: 20px;
}
section.info-w3ls2 .placeinfo-main h4 {
	color: #d40004;
	font-size: 25px;
	font-weight: 700;
}
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   	font-family: 'Montserrat', sans-serif;
}
/*--tab style--*/
/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;

}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: rgba(253,0,6,0.1);
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: rgba(253,0,6,0.3);
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    margin-top: 10px;

}

#closetab, #angledown {
	width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	font-size:12px;
	color:#000;
	text-align: center;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	float: right;
	cursor: pointer;
	background-color: rgba(255,255,255,0);
}

.topright:hover {color: red;}
/*--tab style--*/

/*--tab detail style--*/
.tabdetail {
	margin:20px;
	padding-top: 30px;
}
/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: rgba(253,0,6,0.1);
    color: #888;
    cursor: pointer;
    padding: 12px 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: rgba(253,0,6,0.3);
}
/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 25px 18px;
    background-color: white;
    display: none;
    font-family: 'Open Sans', sans-serif;

}
/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    display: block;
}
div.panel button.btn-info,
div.panel button.btn-success,
div.panel button.btn-primary {
	margin-right: 15px;
}
div.panel button.btn-outline {
    border: solid 1px #a40004;
    font-size: 12px;
    padding: 4px 8px;
    color: #a40004;
    background: 0 0;
    transition: all .3s ease-in-out;
    float: right;
    font-weight: 200;
}
div.panel button.btn-outline:hover,
div.panel button.btn-outline:active {
    border: solid 2px #d40006;
    color: #d40006;
    background: #fff;
}
.details button.accordion2 {
	background-color: #FFF;
    color: #444;
    cursor: pointer;
    padding: 12px 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
span.more {
	float: right;
}
span.tag {
	padding: 5px 10px 5px 10px;
	margin-right: 15px;
	background-color: rgba(240,128,128,1);
	border-radius: 5px;
	color: white;
}
span.tag.landmark {
	background-color: rgba(240,128,128,1);
}
span.tag.nature {
	background-color: IndianRed;
}
span.tag.shopping {
	background-color: rgba(220,20,60,1);
}
span.tag.themepark {
	background-color: rgba(250,128,114,1);
}
span.tag.zoo {
	background-color: rgba(178,34,34,1);
}
span.outdoor {
	background-color: rgba(139,0,0,1);
}
span.resort {
	background-color: rgba(139,0,100,1);
}
span.heritage {
	background-color: rgba(139,100,0,1);
}
span.museum {
	background-color: rgba(139,100,150,1);
}
span.streetfood {
	background-color: rgba(139,190,150,1);
}
span.seafood {
	background-color: rgba(200,0,150,1);
}
span.upcoming {
	background-color: red;
	text-transform: uppercase;
	border-radius: 25px;
}
.panel h3 {
	margin-bottom: 10px;
	font-size: 32px;
	color: #d40006;
}
.panel p {
	margin-top: 10px;
	text-align: justify;
}
.panel.travel {
	margin-bottom: 20px;
}
.text {
	padding-left: 50px;
}
/*--tab detail style--*/
/*-- /2nd info section --*/

/*-- footer info section --*/
section.footer-agileits {
    padding: 50px 0;
    background-color: #212121;
	text-align:center;
    text-align: -webkit-center;
	text-align:-moz-center;
}
section.footer-agileits h3 {
    color: #fff;
    font-size:25px;
    font-weight: normal;
    padding: 25px 0 15px;
    text-align: left;
   }
section.footer-agileits ul.footer-links {
    list-style: none;
    text-align: justify;
	margin-left: 30px;
}
section.footer-agileits ul.footer-links li {
	padding-bottom:15px;
}
section.footer-agileits ul.footer-links li a:hover {
	color: #e25b71;
}
section.footer-agileits ul.footer-links li a {
	text-decoration:none;
	font-size:14px;
	font-weight:lighter;
	color:#fff;
}

section.footer-agileits .contact-info {
	text-align: justify;
    margin-left: 35px;
	margin-top: -13px;
}
section.footer-agileits .contact-info i{
	color: #fff;
    font-size: 22px;
    margin: 25px 15px 10px 0px;
    display: inline-block;
}
section.footer-agileits a {
	text-decoration: none;
	color: #FFF;
}
section.footer-agileits a:hover {
	color: #e25b71;
}
section.footer-agileits p.p3{
	padding: 0;
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    margin: -40px 0 0px;
    font-size: 14px;
    font-weight: lighter;
}
section.footer-agileits p.p4 {
	padding: 0;
    display: block;
    color: #fff;
    vertical-align: middle;
    font-weight: lighter;
    font-size: 14px;
    margin: -19px 0 0 41px;
}
section.footer-agileits p.p5{
	padding: 0;
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    margin:-40px 0 0px;
    font-size: 14px;
    font-weight: lighter;
}
section.footer-agileits p.p6 {
	padding: 0;
    display: block;
    color: #fff;
    vertical-align: middle;
    font-weight: lighter;
    font-size: 14px;
    margin: -19px 0 0 41px;
}
section.footer-agileits p.p5 a , p.p6 a {
	text-decoration:none;
	color:#fff;
}
section.footer-agileits .address,section.footer-agileits .phone {
    margin-bottom: 5px;
}
section.footer-agileits button.btn-outline {
    border: solid 2px #fff;
    font-size: 18px;
    padding: 5px 10px;
    color: #fff;
    background: 0 0;
	font-family: 'Montserrat', sans-serif;
    transition: all .3s ease-in-out;
}
section.footer-agileits button.btn-outline:hover,
section.footer-agileits button.btn-outline:focus,
section.footer-agileits button.btn-outline:active {
    border: solid 2px #fff;
    color: #d40006;
    background: #fff;
}
section.footer-agileits input#inputEmail1 {
    width: 95%;
    height: 40px;
    color: #000;
	font-size:15px;
	font-weight:normal;
    padding: 0 10px;
	margin-bottom:15px;
	outline:none;
}
section.footer-agileits input#text1 {
	width: 95%;
    height: 40px;
    color: #000;
	font-size:15px;
	font-weight:normal;
    padding: 0 10px;
	margin-bottom:15px;
	outline:none;
}
section.footer-agileits input::-webkit-input-placeholder {
color: #000 !important;
} 
section.footer-agileits input:-moz-placeholder { /* Firefox 18- */
color: #000 !important;  
}
section.footer-agileits input::-moz-placeholder {  /* Firefox 19+ */
color: #000 !important;  
}
section.footer-agileits input:-ms-input-placeholder {  
color: #000 !important;  
}
section.footer-agileits textarea::-webkit-input-placeholder {
color: #000 !important;
}
section.footer-agileits textarea::-moz-placeholder { /* Firefox 18- */
color: #000 !important;  
}
section.footer-agileits textarea::-moz-placeholder {  /* Firefox 19+ */
color: #000 !important;  
}
section.footer-agileits textarea::-ms-input-placeholder {  
color: #000 !important;  
}
section.footer-agileits ul.social-icons2 {
	list-style:none;
	padding-bottom:10px;
	margin: 0 auto;
}
section.footer-agileits ul.social-icons2 li {
	display:inline-block;
	margin: 0 10px;
}
section.footer-agileits ul.social-icons2 li a i.fa.fa-facebook {
	background-color:#3b5998;
	width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	font-size:20px;
	color:#fff;
	text-align: center;
 	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
section.footer-agileits ul.social-icons2 li a i.fa.fa-twitter {
	background-color:#55acee;
	width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	font-size:17px;
	color:#fff;
	text-align: center;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
section.footer-agileits ul.social-icons2 li a i.fa.fa-linkedin {
	background-color:#e68523;
	width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	font-size:19px;
	color:#fff;
	text-align: center;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
section.footer-agileits ul.social-icons2 li a i.fa.fa-google-plus {
	background-color:#dc4e41;
	width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	font-size:16px;
	color:#fff;
	text-align: center;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
section.footer-agileits ul.social-icons2 li a i.fa.fa-facebook:hover {
	background-color:#002573;
}
section.footer-agileits ul.social-icons2 li a i.fa.fa-twitter:hover {
	background-color:#004A82;
}
section.footer-agileits ul.social-icons2 li a i.fa.fa-linkedin:hover { 
	background-color:#BB5E00;
}
section.footer-agileits ul.social-icons2 li a i.fa.fa-google-plus:hover { 
	background-color:#8A0B00;
}
section.footer-agileits p.copyright {
	font-size:12px;
	color:#fff;
	padding:0px 20px 0;
	line-height:20px;
}
section.footer-agileits p.copyright a {
	text-decoration:none;
	color:#33ACCC;
}
section.footer-agileits p.copyright a:hover {
	color:red;
}
/*-- /footer section --*/

/*-- back to top --*/
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(0,0,0, 0.5) url(../images/cd-top-arrow.svg) no-repeat center 50%;
      background-size: 40px;
	  -webkit-background-size:40px;
	  -moz-background-size:40px;
	  -o-background-size:40px;
	  -ms-background-size:40px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
    z-index: 9999;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.cd-top:hover {
  background-color: #000;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 50px;
    width: 50px;
    right: 30px;
    bottom: 30px;
  }
}
/*-- /back to top --*/

/*-- inner pages banner --*/
section.inner-w3ls {
	background-color: #e25b71;
	background-position:center;
	background-attachment:fixed;
	background-repeat:no repeat;
	background-size:100% 100%;
	-webkit-background-size:100% 100%;
	-moz-background-size:100% 100%;
	-o-background-size:100% 100%;
	-ms-background-size:100% 100%;
	min-height:300px;
}
section.inner-w3ls p.text-center {
	font-size:17px;
	font-weight:normal;
	color:#fff;
	line-height:35px;
}
.column {
	margin:0;
	padding:0;
}
.column:last-child {
	padding-bottom:0px;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;
	width:100%;
	height:auto;
	margin: 0;
	padding: 0;
}
.column div:first-child {
	margin-left: 0;
}
figure {
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
.hover01 figure img {
	width:100%;
	height:auto;
	-webkit-transform: scale(1);
	transform: scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
	-ms-transform:scale(1);
	-webkit-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
/*-- /inner pages banner --*/


/*-- service page --*/
section.service-w3ls h3 {
	padding: 0 0 25px 0;
	color: #e25b71;
	font-size: 30px;
}
.breadcrumb {
	margin: 20px 0;
}
.current {
	color: #e25b71 !important;
}
.breadcrumb li{
	color: #ccc;
}
.breadcrumb a {
	color: #999;
}
section.service-w3ls label{
	color: #555555;

}
.month {
	text-align: center;
	border: 1px solid #777777;
	margin-bottom: 10px;
}
.month p {

}
.planner-btn {
	margin: 10px 0;
	float: right; 
}
.planner-btn button.btn-outline {
	margin: 10px 0;
    border: solid 2px #e25b71;
    font-size: 15px;
    padding: 5px 10px;
    color: #e25b71;
    background: 0 0;
    transition: all .3s ease-in-out;
    font-family: 'Montserrat';
}
.planner-btn button.btn-outline:hover,
.planner-btn button.btn-outline:focus,
.planner-btn button.btn-outline:active {
    border: solid 2px #fff;
    color: #fff;
    background: #e25b71;
}
.tag-pic {
	border: 1px solid #f5f5f5;
}
.tag-list {
	margin-left: 20px;
}
.tag-list li{
	list-style-type: none;
}
.tag {
	border: 1px solid #e25b71;
	text-align: center;
	margin: 15px 12px;
	width: 180px;
	height: 200px;
}
li.chosen {
	display: none;
}

.suggest-tag {
	margin: 10px 0 20px;
}
.result {
	width: 100%;
	display: block;
	min-height: 235px;
	border: 2px solid #a40004;
	margin-bottom: 30px;
}
.result-content {
	margin-top: 15px;
}
.result-content img {
	width: 300px;
	height: 200px;
	margin: auto;
}
.result-content h2 {
	margin-bottom: 30px;
}
#rating {
	width: 230px;
	height: 50px;
	margin-bottom: 20px;
}
.result-content h4 {
	float: left;
}
.result-content input[type=submit] {
	float: right;
	margin-bottom: 10px;
	color: #FFF;
	background-color: #d40004;
}
.datematrix table{
	width: 85%;
	margin: auto;
}
.datematrix th, td {
	text-align: center;
	margin: 15px;
}
.datematrix tbody td:hover {
	background-color: rgba(253, 0, 6, 0.1);
	cursor: pointer;
}
.datematrix td.lowprice {
	color: red;
}
.datematrix input[type=submit] {
	float: right;
	margin: 50px 100px 0 0;
}

.selectedseat p {
	margin: 20px 0;
	font-size: 20px;
}
.selectedseat li {
	list-style-type: none;
	color: #a40004;
	font-size: 18px;
	margin-bottom: 20px;
	height: 40px;
	display: none;
}

.totalpax span {
	font-size: 18px;
	padding: 0 20px;
	border-bottom: 1px solid black;
	margin-bottom: 40px;
}
.seatingplan {
	border: 1px solid black;
	padding: 20px;
	height: 400px;
	overflow: scroll;
}
table.seats {
	margin: auto;
	border-collapse: separate;
	border-spacing: 20px 10px;
}
.seatingplan .seats th{
	color: gray;
	width: 50px;
	text-align: center;
	height: 33px;
}
.seatingplan .seats td{
	border: 1px solid black;
	width: 50px;
	text-align: center;
	height: 33px;
}
.seats #line{
	border: 1px solid white;
	color: gray;
}
.seats td:hover{
	background-color: rgba(253, 0, 6, 0.1);
	cursor: pointer;
}
.paxinfo {
	background-color: #FFDBDC;
	padding: 15px;
	margin-bottom: 20px;
}
.paxinfo h4 {
	margin-bottom: 10px;
}
.pax-form input {
	width: 300px;
}
input.num {
	width: 50px;
}
input.place {
	width: 150px;
}
input.phone {
	width: 150px;
}
.paymentinfo h4{
	margin-bottom: 10px;
}
.payment {
	margin-bottom: 10px;
	background-color: #FFDBDC;
	padding: 10px;
}
.cdno {
	width: 60px;
	margin-bottom: 20px;
}
.thankyou {
	margin: 70px;
}
/*-- /service page --*/


/*-- help page --*/
.faq {
	margin: 20px 0;
}
.q {
	font-size: 20px;
	color: #e25b71;
}
.faq p.a {
	margin-bottom: 25px;
}
/*-- help page --*/


/*-- flight-tracker section --*/
.content-w3ls {
	margin:0 auto;
	background-color:#F5F5F5;
}
.content1-w3ls {
	text-align:center;
	padding:30px;
}
.content1-w3ls p {
	margin: 10px 0;
}
.content1-w3ls input {
	margin: 10px 0;
}
.content1-w3ls button.btn-outline {
    margin-top: 20px;
    border: solid 2px #e25b71;
    font-size: 15px;
    padding: 5px 15px;
    color: #e25b71;
    background: 0 0;
    transition: all .3s ease-in-out;
    font-family: "Montserrat";
}
.content1-w3ls button.btn-outline:hover,
.content1-w3ls button.btn-outline:focus,
.content1-w3ls button.btn-outline:active {
    border: solid 2px #fff;
    color: #fff;
    background: #e25b71;
}
/*-- flight-tracker section --*/

/*-- arr-and-dep section --*/
section.transit-w3ls .table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    font-size: 15px;
    text-align: center;
    color: #898989;
	font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
section.transit-w3ls .table>tbody>tr>td {
	font-size:15px;
	color:#787878;
	line-height:25px;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
}
section.transit-w3ls .table>tbody>tr>td img.img-responsive {
	width:70px;
	height:auto;
	float:left;
}
section.transit-w3ls .table>tbody>tr>td h4 {
	float: left;
    font-size: 15px;
    line-height: 25px;
    margin: 20px 0 0 11px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
/*-- /arr-and-dep section --*/

/*-- contact page --*/
.contact-main {
	margin: 30px 0;
}
iframe.googlemaps {
    height: 200px;
    width: 100%;
}
/*-- contact page --*/

/*-- responsive --*/
@media (max-width:560px) {
	.navbar-brand img{
		height: 24px;
	}
}
@media (max-width:425px) {
	.navbar-brand img{
		height: 20px;
	}
}
@media (max-width:375px) {
	.navbar-brand img{
		height: 18px;
	}
}
@media (max-width:320px) {
	.navbar-brand img{
		height: 14px;
	}
}
/*-- responsive --*/







